.languages {
    position: fixed;
    top: 16em;
    right: 0;
    background-color: #f0443f;
    width: 90px;
    z-index: 9;
}

.languages img {
    width: 18px;
    border-radius: 50%;
    height: 18px;
    margin-right: 1px;
}

.languages a {
    display: block;
    padding: 8px 6px;
}

.language-active {
    text-decoration: underline;
    font-weight: 600;
    background-color: #980101;
}

.account .card {
    margin: 80px 0px;
}

.account .card .btn-default {
    padding: 19px 10px;
}

.account .card .card-header {
    background-color: #f0443f;
    color: #fff;
}

.account .blood-group .nice-select {
    width: 100%;
}

.account .info {
    text-decoration: underline;
}


/* admin */


/* .card .card-header,
.card .p-2 {
    padding: 0px 0px !important;
}

.nav-pills .nav-link {
    border-radius: 0;
} */

.header-area .header-info-right .header-date li {
    background-color: #ff6a00;
    padding: 0px 6px;
    border-radius: 6px;
}

.header-area .header-info-right .header-date .fa {
    color: #fff !important;
    font-weight: 600 !important;
}

.header-area .header-info-right .header-date li a {
    color: #fff;
    font-weight: 600;
}

.create-form {
    background-color: #fff;
    padding: 2em 1em;
    margin: 1em 1em;
    border-radius: 10px;
}

.tick {
    color: #ff0000;
}

.listing-table {
    background-color: #fff;
    padding: 3em 2em;
    border-radius: 10px;
}

.table-img {
    height: 45px;
}

.listing-table a.btn {
    padding: 3px 6px !important;
    font-size: 14px !important;
    margin: 3px 10px;
    display: block;
}

.edit-img {
    height: 150px;
}

.title-tag {
    background-color: #007bff;
    position: absolute;
    top: 0;
    padding: 5px 11px;
    border-radius: 11px 0 10px 0px;
    color: #fff;
}

.news-detail {
    background-color: #fff;
    padding: 1em 2em;
}

.news-detail .cover img {
    width: 100%;
}

.news-detail .title {
    font-size: 26px;
    padding: 14px 5px;
    margin-bottom: 10px;
}

.news-detail .fa-edit {
    position: absolute;
    top: 0px;
    right: 4px;
}

.card .card-title {
    padding: 6px 5px;
}

.news-detail .user .fa {
    display: block;
    margin: 5px 0px;
}

.warning{
    color: #ff8d00;
}

.success {
    color: #37bd00;
}

.danger {
    color: #ff0000;
}